   <mat-card> 
    <div class="row" *ngIf="QE">
        <div class="example-header">
      <button mat-button class="btn-new" (click)="openDialog()">+</button>
        </div> 
    </div>

<table mat-table [dataSource]="dataSource" matSort> 
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tip greške </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="probability">
      <th mat-header-cell *matHeaderCellDef> Verovatnoća </th>
      <td mat-cell *matCellDef="let element"> {{element.probability}} </td>
    </ng-container>
     <!-- Symbol Column -->
     <ng-container matColumnDef="steps">
      <th mat-header-cell *matHeaderCellDef> Procesni koraci </th>
      <td mat-cell *matCellDef="let element"> {{element.steps}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
</mat-card>