<h2 mat-dialog-title>Dodavanje greške procesnom koraku</h2>
<div mat-dialog-content>
  <form [formGroup]="newFailure">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Naziv greške</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Verovatnoća javljanja</mat-label>
        <input matInput formControlName="probability">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Procesni korak</mat-label>
        <mat-select>
          <mat-option *ngFor="let step of processSteps" [value]="step.id" formControlName="processStepId"
            (onSelectionChange)="addStep(step.id)">{{step.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Tip greške</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="0" >Greška radnika</mat-option>
            <mat-option [value]="1" >Greška u materijalu</mat-option>
            <mat-option [value]="2">Ostalo</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()" class="cancel-btn">odustani</button>
  <button mat-button mat-dialog-close (click)="createFailure()" class="change-btn">sačuvaj</button>
</div>
