.process-table{
    margin-left: 10%;
    margin-right: 10%;
}
.header-div {
    height: 5rem;
}

.start-btn{
   background-color: gray;
   color: white;
}

.icon-color{
    color: purple;
}

.btn-new{
    background-color: purple;
    color: white;
    font-size: larger;
}