<div class="header-div"></div>
<div class="process-table">
    <mat-card>
        <div class="row" style="margin-right: 5px;">
            <div class="col-md-8">
                <button mat-button (click)="back()">
                    <button mat-button style="text-align: right; margin-left: 10%;" (click)="getUnfinishedProcesses()">
                        <h3 style="color:purple; text-align: center;"> Svi procesi </h3>
                    </button>
                </button> 
            </div>
       
        <div class="col-sm-3"> 
            <button mat-button style="text-align: right; margin-left: 10%;" (click)="showFinishedProcesses()">
                Izvršeni procesi
            </button>
        </div>
        <div class="col-sm-1" > 
            <button mat-button class="btn-new" (click)="createNewProcess()">+</button>
        </div>
     </div>
   
     <div *ngIf="!showFinished"> 
        <mat-card *ngFor="let process of obs  | async">

            <mat-card-content>
                <div class="row">
                    <div class="col-md-5">
                        <h2> {{process.name}}</h2>
                    </div>
                    <div class="col-md-4">
                        <p>Proizvod: {{process.productName}}</p>
                    </div>

                    <div class="col" style="text-align: right;">
                         <button mat-button class="start-btn" (click)="startProcess(process.id)">
                            <mat-icon class="icon-color">touch_app</mat-icon> pokreni regularan proces
                        </button></div>
                        <div class="col" style="text-align: right;">
                            <button mat-button class="start-btn" (click)="startFailedProcess(process.id)">
                               <mat-icon class="icon-color">touch_app</mat-icon> pokreni proces sa greškom
                           </button></div>
                </div>
                <div class="row">
                    <div class="col-md-2"> Opis procesa:</div>
                    <div class="col" style="font-style: italic;">
                        {{process.description}}
                    </div>
                </div>
                <hr>
                <div class="row" *ngFor="let step of process.steps" style="width:100%">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header style="width:100%">
                          <mat-panel-title>
                            <mat-icon style="padding-top: 3px;">forward</mat-icon> {{step.name}}
                          </mat-panel-title>
                          <mat-panel-description>
                           <div class="row" style="width: 100%; height:max-content">
                            <div class="col-md-10"  >
                                <p>{{step.description}}</p>
                                
                            </div>
                            <div class="col" style="text-align: right; width:100%">
                                <mat-icon style="padding-top: 4px;">group</mat-icon> {{step.numberOfPeople}}
                            </div>
                           </div>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p *ngFor="let material of step.materials" style="margin-left: 5%;"> {{material.label}} | {{material.name}}  |  {{material.price}} RSD | unit: {{material.unit}}</p>
                      </mat-expansion-panel>
                </div>
            </mat-card-content>

        </mat-card>
         <mat-paginator [pageSizeOptions]="[1, 2,3]"></mat-paginator>
    </div>
    <mat-card  *ngIf="showFinished">
        <app-process-table> </app-process-table>
    </mat-card>
   
</mat-card>

</div>

