.profile-photo {
    /* margin-left: 2rem; */
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.card {
    width: 50%;
    max-height: max-content;
    margin-left: 15%;
    background-color: whitesmoke;
}

.example-card {
    max-width: 400px;
}

.btn {
    margin-left: 13%;
    background-color: purple;
    color: white;
}

.cancel-btn {
    background-color: gray;
    color: white;
    margin-left: 20%;
}

.sex-div {
    margin-top: 2px;
    bottom: 5px;
}

.sex-col {
    margin-bottom: 5px;
}
mat-radio-button{
    margin-right: 3px;
    margin-left: 4px;
}
mat-radio-label-content{
    margin-right: 7px;
}
.header-div {
    height: 5rem;
}

.update-new{
    margin-left: 1rem;
    margin-top: 15rem;
}

.input-file{
 width: 100%;
}