.profile-photo {
    margin-left: 2rem;
    height: 9rem;
    width: 10rem;
    border-radius: 50%;
}

.card {
    width: 60%;
    max-height: max-content;
    margin-left: 15%;
    background-color: whitesmoke;
}

.header-div {
    height: 5rem;
}

.example-card {
    max-width: 400px;
}

.btn {
    margin-left: 20%;
    background-color: purple;
    color: white;
}

.cancel-btn {
    background-color: gray;
    color: white;
}

.sex-div {
    margin-top: 2px;
    bottom: 5px;
}

.sex-col {
    margin-bottom: 5px;
}
mat-radio-button{
    margin-right: 3px;
    margin-left: 4px;
}
mat-radio-label-content{
    margin-right: 7px;
}