.div-chart{
    display: block;
    height: 400px;
    width: 400px;
}

.pie-chart{
    margin-left: 5%;
    background-color: whitesmoke;
    height: 100%;
   
}
.header-div {
    height: 4rem;
}
.bar-chart{
    height: 100%;
    width:90%;
    background-color: whitesmoke;
   
}

.informations{
    height: max-content;
    width:72%;
    margin-top: 1rem;
    margin-left: 1.5%;
    margin-right: 7%;
    background-color: whitesmoke;
   
}