<mat-toolbar color="blue">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button class="example-icon">
      <mat-icon style="color:purple">menu</mat-icon>
    </button>
  </div>
  <span class="welcome-note">Hello, Nevena</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" (click)="signout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


<!-- 
<mat-drawer-container class="example-container">
<mat-drawer mode="side" opened> left</mat-drawer>
<mat-drawer-content>right</mat-drawer-content>
</mat-drawer-container>
 -->