.preview{
    background-color: whitesmoke;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 5px;
}
.header-div {
    height: 5rem;
}
.search {
    padding-top: 10px;
    margin-left: 5%;
}
.row{
    margin-left: 5px;
    margin-right: 5px;
}