<div class="sidenav"  style="height: 50rem;" > 
    <div class="links" >
        <a routerLink="/homepage/my-profile"  class="simple-text logo-mini"><mat-icon>account_circle</mat-icon>  </a>
        <a routerLink="/homepage/my-profile" class="simple-text logo-normal"> <mat-label> My profile </mat-label> </a>
    </div>
    <div class="links" >
        <a routerLink="/homepage/process"  class="simple-text logo-mini"><mat-icon>developer_board</mat-icon>  </a>
        <a routerLink="/homepage/process" class="simple-text logo-normal"> <mat-label> Process </mat-label> </a>
    </div>
    <div class="links" >
        <a routerLink="/homepage/workers"  class="simple-text logo-mini"><mat-icon>group</mat-icon>  </a>
        <a routerLink="/homepage/workers" class="simple-text logo-normal"> <mat-label> Workers </mat-label> </a>
    </div>
</div>
