.sidenav{
    background:  rgb(183, 183, 242);
    background: linear-gradient(0deg, rgb(81, 5, 81), rgb(190, 190, 250));
    height: 100%;
    width: 250px;
    display: block;
    box-shadow: 0 0 45px 0 black;
    margin-right: 15px;
    border-radius: 5px;
    transition: .5s cubic-bezier(.685, .0473, .346, 1);
bottom: 0px;
}


.links{
    position: relative;
    padding: 0.5rem 0.7rem;
    z-index: 4;
}

.links a.logo-mini{
    opacity: 1;
    float: left;
    width: 34px;
    text-align: center;
    margin-left: 10px;
    margin-right: 12px;
}

.links a.logo-normal{
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0px, 0,0);
    -moz-transform: translate3d(0px, 0,0);
    -o-transform: rotate3d(0px, 0,0);
    -ms-transform: translate3d(0px, 0,0);
    transform: translate3d(0px, 0,0);
}

.links .logo-after {
    /* content: ''; */
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: rgb(255, 255, 255, 0.5);
}

.links .simple-text {
    text-transform: uppercase;
    padding: 0.5rem 0;
    display: block;
    white-space: nowrap;
    color: rgb(81, 5, 81);
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
}

.nav li>a {
    margin: 10px 15px 0;
    border-radius: 30px;
    color: rgb(255, 255, 255, .8);
    width: 200px;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 10px 15px;
    line-height: 1.5rem;
    transition: all .3s ease 0s;
}
.nav li>a i {
    width: 20px;
   margin-right: 10px;
    font-size: 1.125rem;
   
}
.nav li>a:hover, .nav li>a:hover i {
   color: rgb(255, 255, 255, 1);
   transition: all .3s ease 0s;
}
.nav li.active>a::before  {
   /* content: " "; */
   position: absolute;
   height: 6px;
   width: 6px;
   top: 17px;
   left: -2px;
   background: white;
   border-radius: 50%;

 }