<!-- Cards with media area -->
<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{worker.name}} {{worker.surname}}</mat-card-title>
      <mat-card-subtitle>{{worker.email}}</mat-card-subtitle>
      <img mat-card-sm-image [src]="worker.profilePhoto" *ngIf="worker.profilePhoto" >
      <img mat-card-sm-image src="../../../../assets/civil-engineering-company.jpg" *ngIf="!worker.profilePhoto" >
    </mat-card-title-group>
    <mat-card-content>
    <p>{{worker.telephone}} </p>
    <p>{{worker.gender}} </p>
    <p>{{worker.birthday | date}} </p>
    <p>{{worker.address.street}}  {{worker.address.number}}, {{worker.address.city}}</p>
    </mat-card-content>
  </mat-card>
