.first-image-cover{
    background-image: url(../../../assets/shutterstock_1498742519.jpg);
    background-size: cover;
    /* background-position: center center; */
    background-repeat: no-repeat;
    margin-top: 0%;
    margin-bottom: 0%;
}

h1{
    padding-top: 10%;
    margin-left: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.login-container {
    padding-left: 35%;
    padding-top: 5%;
    padding-bottom: 15%;
}

.example-card {
    max-width: 400px;
}

mat-form-field {
    width: 100%;
}
mat-card-title{
    margin-bottom: 1rem;
    margin-left: 40%;
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child, .mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child, .mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
    margin-left: 40%;
    margin-right: 0;
}
.mat-button.mat-blue, .mat-icon-button.mat-blue, .mat-stroked-button.mat-blue {
    /* background-color: rgb(183, 183, 242); */
    background-color: rgb(167, 11, 167);;
    color: white;
}
mat-form-field{
    margin-bottom: 0.5rem;
}

