<h2 mat-dialog-title>Izmeni šifru</h2>
<div mat-dialog-content>
    <form [formGroup]="passwordGroup" (ngSubmit)="changePassword()">
 <div class="row">
    <mat-form-field appearance="fill">
    <mat-label>Trenutna šifra</mat-label>
    <input matInput formControlName="current" (focusout)="checkPassword()">
    <mat-error *ngIf="!falsePassword">Šifra je pogrešna</mat-error>
  </mat-form-field>
 </div> 
  <div class="row">
    <mat-form-field appearance="fill">
    <mat-label>Nova šifra</mat-label>
    <input matInput formControlName="newPassword">
    <mat-error *ngIf="submitted || passwordGroup.controls['newPassword'].hasError('required')">Morate uneti novu šifru</mat-error>
  </mat-form-field>
  </div>
  <div class="row">
     <mat-form-field appearance="fill">
    <mat-label>Ponovni unos šifre</mat-label>
    <input matInput formControlName="repeatedPassword" >
    <mat-error *ngIf="submitted || passwordGroup.controls['repeatedPassword'].hasError('matching')">Šifre nisu jednake</mat-error>
  </mat-form-field>
  </div>  
</form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()" class="cancel-btn">odustani</button>
  <button mat-button mat-dialog-close type="submit" ng-disabled="passwordGroup.$submitted" (click)="changePassword()" class="change-btn">sačuvaj</button>
</div>
