<h2 mat-dialog-title>Change password</h2>
<div mat-dialog-content>
    <form [formGroup]="passwordGroup">
 <div class="row">
    <mat-form-field appearance="fill">
    <mat-label>Current password</mat-label>
    <input matInput formControlName="current">
  </mat-form-field>
 </div> 
  <div class="row">
    <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input matInput formControlName="newPassword">
  </mat-form-field>
  </div>
  <div class="row">
     <mat-form-field appearance="fill">
    <mat-label>Repeat new  password</mat-label>
    <input matInput formControlName="repeatedPassword" >
  </mat-form-field>
  </div>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()" class="cancel-btn">Cancel</button>
  <button mat-button mat-dialog-close (click)="changePassword()" class="change-btn">Save</button>
</div>
