<h2 mat-dialog-title>Change password</h2>
<div mat-dialog-content>
    <form [formGroup]="passwordGroup" (ngSubmit)="changePassword()">
 <div class="row">
    <mat-form-field appearance="fill">
    <mat-label>Current password</mat-label>
    <input matInput formControlName="current" (focusout)="checkPassword()">
    <mat-error *ngIf="!falsePassword">Current password wrong</mat-error>
  </mat-form-field>
 </div> 
  <div class="row">
    <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input matInput formControlName="newPassword">
    <mat-error *ngIf="submitted || passwordGroup.controls['newPassword'].hasError('required')">You must enter new password</mat-error>
  </mat-form-field>
  </div>
  <div class="row">
     <mat-form-field appearance="fill">
    <mat-label>Repeat new  password</mat-label>
    <input matInput formControlName="repeatedPassword" >
    <mat-error *ngIf="submitted || passwordGroup.controls['repeatedPassword'].hasError('matching')">New password and confirm password aren't equals</mat-error>
  </mat-form-field>
  </div>  
</form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()" class="cancel-btn">Cancel</button>
  <button mat-button mat-dialog-close type="submit" ng-disabled="passwordGroup.$submitted" (click)="changePassword()" class="change-btn">Save</button>
</div>
